<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selected Blog</title>
</head>
<body>
    <h1><%= data.Title %></h1>
    <h4><%= data.Author %></h4>
    <p><%= data.Content %></p>
</body>
</html>